footer {
    margin-top: auto;
  }
  
  .footer-custom a {
    color: white;
    font-size: 1rem;
    line-height: 1.75;
  }
  .footer-custom a:hover {
    color: #ffc344;
    text-decoration: none;
  }
  .footer-copyright {
    background-color: #1c1a18;
    color: white;
  }
  .footer-copyright p {
    margin: 0;
    font-size: 0.85rem;
  }
  .footer-copyright a {
    margin: 0;
    font-size: 0.85rem;
  }