* {
    font-family: 'Lato', sans-serif;
}

header {
    height: auto;
}

.navbar-custom {
    background-color: #F7F8F3;
    min-height: 6rem;
}
.navbar-custom a {
    color: rgba(28, 26, 24, 1);
    font-size: 1.25rem;
}
.navbar-custom a:hover {
    color: rgba(28, 26, 24, 0.5);
    font-size: 1.25rem;
}


.custom-toggler.navbar-toggler {
    border-color: rgba(28, 26, 24, .85);
    height: 50px;
    width: 50px;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(28, 26, 24, 0.85)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    height: 25px;
    width: 25px;
    margin: auto;
  }
  